.content {
    margin-top: 5rem; 
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 1.5rem;

    width: 100%;
    max-width: 1280px;

    padding: 4.5rem;
    background-color: #fff;
    border-radius: 16px;

    box-shadow: 
    0 4px 10px rgba(0, 0, 0, 0.08),
    0 1px 3px rgba(0, 0, 0, 0.06);

    display: flex;
    flex-direction: column;
}

.projectsActions {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.projectsActions button {
    margin-right: 1.5rem;
}

.headerRow {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;    
}

.projectsGrid {
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
    flex: 1;
    overflow-y: auto;
    align-items: stretch;
}

@media (max-width: 767px) {
    .content {
        padding: 1.5rem;
        background-color: #f0f0f000;
        box-shadow: none;
    }
    .headerRow {
        justify-content: center;
        text-align: center;
        font-size: 0.85rem;
    }
    .pagination {
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {   
    .content {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .headerRow {
        justify-content: center;
        text-align: center;
    }
    .pagination {
        display: flex;
        justify-content: center;
    }
    .projectsGrid{
        align-items: stretch;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        margin-bottom: 0.5rem;
        gap: 0.8rem;
    }
}
@media (min-width: 1025px) and (max-width: 1525px) {
    .content {
        max-width: 1020px;
        padding: 2.5rem;
    }
    .projectsGrid {
        gap: 1rem;
    }
    .headerRow {
        font-size: 1rem;
    }
}
