.projectBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgb(158, 158, 158);
    gap: 10px;
}

.textColumn {
    flex: 10;
}

.buttonColumn {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projectHeader {
    margin-bottom: 1.5rem;
}

.deleteButton,
.infoButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

.secondaryButton {
    padding: 8px 20px;
    border-radius: 20px;
    background: #fff;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
}

.projectTopic, .projectDescription {
    margin-bottom: 1rem;
}

@media (max-width: 767px) {

    .projectHeaderRow {
        padding-right: 0;
    }

    .projectHeader {
        margin-right: 0;
    }

    .projectDescription {
        padding-right: 0;
    }

    /* .buttonColumn {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1rem;
    } */
}

/* @media (min-width: 768px) and (max-width: 1024px) {
    .buttonColumn {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1rem;
    }
} */