.userCard {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1.5rem;

  height: 100%;

  display: flex;
  flex-direction: column;

  border: 1px solid #e6e6e6;
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.04)
}
@media (hover: hover) {
  .userCard:hover {
    box-shadow:
      0 6px 18px rgba(0, 0, 0, 0.18),
      0 4px 6px rgba(0, 0, 0, 0.17);
    transform: translateY(-2px);
    cursor: pointer;
  }
}
.userCard:focus-visible {
  outline: 2px solid #4f46e5;
  outline-offset: 4px;
}
.userCardText {
  font-family: 'JetBrains Mono', monospace;
  margin-top: 0.8rem;
  padding-left: 0.65rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1rem;
}
.userCard p {
  margin: 0;
  padding-top: 0.75rem;
  line-height: 1.35;
}
.userCard button {
  margin-top: auto;
}
.userTags {
  text-align: center;
  font-size: 0.9rem;
}
.userAvatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center
}
.userAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.userInfo {
  text-align: center;
}

@media (max-width: 767px) {
  .userCard {
    padding: 1rem;
  }
  .userCardText {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
  .userTags {
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .userCard {
    padding: 1rem;
  }
  .userCardText {
    padding-left: 0.5rem;
  }
  .userTags {
    text-align: center;
    padding-bottom: 0.75rem;
}
}
@media (min-width: 1025px) and (max-width: 1525px) {
  .userCard {
    padding: 1rem;
  }
    .userTags {
    padding-bottom: 0.75rem;
  }
}