.sidebar {
  width: 280px;
  min-width: 280px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-sizing: border-box;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.menu-item {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  color: #1a1a1a;
  padding: 8px 0;
  white-space: nowrap;
  transition: 0.2s;
}




.menu-item:hover:not(.active-btn) {
  font-weight: bold;
  transform: translateX(5px);
}