.detailBox {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.detailHeader {
    flex: 1;
    padding: 10px 0;
}

.detailBox>div {
    flex: 2;
}

.detailText {
    flex: 2;
    padding: 10px 18px;
}