.sectionHeader {
    margin-bottom: 2rem;
}

.detailBox {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 1rem;
}

.detailHeader {
    flex: 1;
    padding: 10px 0;
}

.detailText {
    flex: 2;
    padding: 10px 18px;
}

.pwButton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: underline;
    text-align: left;
    flex: 2;
    padding: 10px 18px;
}

@media (max-width: 767px) {
    .sectionHeader {
        text-align: center;
        margin-bottom: 1rem;
    }

    .detailBox {
        flex-direction: column;
        border-bottom: 1px solid #e5e5e5;
        margin-top: 0;
        padding: 1rem 0;
    }

    .pwButton {
        color: black;
        font-size: 1rem;
    }
}