.skillsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

.headerTitle {
    margin-bottom: 2rem;
    font-size: 16px;
    font-weight: 700;
}

.selectWrapper {
    position: relative;
}

.error {
    position: absolute;
    top: -2em;
    color: rgb(176, 14, 14);
    left: 0;
}

.selectDropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.selectNew {
    padding: 5px;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.blackButton {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #3f3f3f;
    color: #1a1a1a;
}

.skillsSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5rem;
}

.deleteInfo {
    background: transparent;
    border: none;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    margin: 0px 20px 10px 0;
    font-size: 14px;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    gap: 3px;
}

.tagName {
    margin: 0 20px 10px 0;
    font-size: 14px;
    color: #1a1a1a;
}

@media (max-width: 767px) {
    .skillsHeader {
        flex-direction: column;
        gap: 0;
    }

    .headerTitle {
        text-align: left;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .selectWrapper {
        position: static;
    }

    .error {
        position: inherit;
        margin-bottom: 1rem;
        text-align: left;
    }

    .selectDropdown {
        margin-bottom: 1rem;
        justify-content: flex-start;
    }

    .selectNew {
        color: black;
        font-size: 12px;
    }

    .skillsSection {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .deleteInfo {
        color: black;
    }
}