.myProjectPage {
    display: flex;
    flex: 1;
    margin: 2rem;
    width: 100%;
}

.projectSection {
    flex: 1;
}

.projectBackground {
    padding: 3rem;
    margin: 1rem 3rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #817e7e;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.noMessage {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
}

@media (max-width: 767px) {
    .myProjectPage {
        margin: 0;
    }

    .projectBackground {
        padding: 1.5rem;
        margin: 1.5rem;
    }

    .projectGrid {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .projectBackground {
        margin: 1rem 2rem
    }

    .projectGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}