.myProjectPage {
    display: flex;
    flex: 1;
    margin: 2rem;
}

.projectSection {
    flex: 5;
}

.projectBackground {
    padding: 3rem;
    margin: 1rem 3rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #817e7e;
}

.sectionHeader {
    margin-bottom: 3rem;
}

.addButtonSection {
    position: relative;
}

.blackButton {
    padding: 5px 20px;
    position: absolute;
    top: -60px;
    right: 0;
}

.noMessage {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}