.projectCard {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;

    height: 340px;

    display: flex;
    flex-direction: column;

    border: 1px solid #e6e6e6;
    box-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.04)
}

.projectHeaderRow {
    align-items: center;
}

.infoColumn {
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.heartButton,
.deleteButton,
.infoButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

.projectTopic {
    margin-bottom: 10px;
}

.projectMeta {
  margin-top: 12px;
  font-size: 0.75rem;
  color: #555;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.viewProjectCard {
    font-family: 'JetBrains Mono', monospace;
    margin-top: auto;
    align-self: center;
    background-color: #ffffff;
    color: #3f3f3f;
    border: 1px solid #3f3f3f;
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
}