.notificationsPage {
    display: flex;
    flex: 1;
    margin: 30px;
}

.navigation {
    flex: 1;
}

.navigationList {
    list-style-type: none;
}

.notificationsSection {
    flex: 5;
}

.notificationsBackground {
    padding: 50px;
    margin: 10px 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #817e7e;
}

.rowHeader {
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 0.5fr;
    padding: 10px 20px;
}

.rowHeaderItem:first-child {
    grid-column: 2;
}

.listSection {
    display: flex;
    flex-direction: column;
}