.myProjectPage {
    display: flex;
    flex: 1;
    margin: 30px;
}

.navigation {
    flex: 1;
}

.navigationList {
    list-style-type: none;
}

.projectSection {
    flex: 5;
}

.projectBackground {
    padding: 50px;
    margin: 10px 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #817e7e;
}

.sectionHeader {
    margin-bottom: 30px;
}

.addButtonSection {
    position: relative;
}

.blackButton {
    padding: 5px 20px;
    position: absolute;
    top: -60px;
    right: 0;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}