nav {
    flex: 1;
}

.navigation {
    list-style-type: none;
}

.profilePage {
    display: flex;
    flex: 1;
    margin: 30px;
}

.profileCard,
.projectSection {
    padding: 50px;
    margin: 10px 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #817e7e;
}

.profileSection {
    flex: 5;
}

.headerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editProfile {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    margin: 0 20px;
    gap: 0.5rem;
}

.blackButton {
    padding: 5px 20px;
}

.profileImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}

.profileInfo {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.userName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 50px;
}

.personalDetails {
    flex: 1;
}

h3 {
    margin: 30px 0px;
}

.detailBox {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.detailHeader {
    flex: 1;
    padding: 10px 0;
}

.detailText {
    flex: 2;
    padding: 10px 18px;
}

.pwButton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: underline;
    text-align: left;
    flex: 2
}

.otherInfo {
    flex: 1;
}

.deleteInfo {
    background: transparent;
    border: none;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    margin: 10px 20px 0 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.extraInfo {
    margin: 0 20px 10px 0;
}

.skillsSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.addButton {
    margin: 10px 20px 0 0;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}