nav {
    flex: 1;
}

.navigation {
    list-style-type: none;
}

.profileSection {
    flex: 5;
}

.profilePage {
    display: flex;
    flex: 1;
    margin: 30px;
}

.profileBackground {
    padding: 50px;
    margin: 10px 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #817e7e;
}

h3 {
    margin: 30px 0px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 50px;
}

.personalDetails {
    flex: 7;
}

.tagSection {
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 40px;
}