.skillsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.selectDropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.selectNew {
    padding: 5px;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.blackButton {
    padding: 5px 20px;
}

.deleteInfo {
    background: transparent;
    border: none;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    margin: 0px 20px 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.skillsSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tagName {
    margin: 0 20px 10px 0;
}