.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FEEFA7 100%);
    background-attachment: fixed;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
