.headerRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: center;
}

.headerTitle {
    font-size: 2rem;
    text-align: center;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blackButton {
    padding: 0.5rem 1rem;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-bottom: 2rem;
}

.formHeader {
    margin: 1rem 0;
    font-size: 1.17em;
}

.leftColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.monthSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.selectLocation {
    width: 100%;
    padding: 10px 18px;
    font-family: inherit;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: border-color 0.2s;
    color: black;
}

.selectLocation:focus,
.description:focus {
    border-color: #1a1a1a;
}

.description {
    width: 100%;
    resize: none;
    font-family: inherit;
    font-size: 14px;
    padding: 10px 18px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.6);
    outline: none;
    transition: border-color 0.2s;
}

@media (max-width: 767px) {
    .headerRow {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .headerTitle {
        margin-bottom: 2rem;
    }
    
    .formGrid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .monthSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media (max-width: 835px) {
    .formGrid {
        gap: 2rem;
    }
}