.formHeader {
    margin: 10px 0;
    font-size: 1.17em;
}

.selectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.placeholderText {
    color: #999999;
}

.deleteInfo {
    background: transparent;
    border: none;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    margin: 0px 20px 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.selectDropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.selectNew {
    padding: 0.5rem 0.8rem;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.secondaryButton {
    padding: 8px 20px;
    border-radius: 20px;
    background: #fff;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
}

@media (max-width: 767px) {
    .selectWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}